<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="Seed" connectionString="server=(localdb)\mssqllocaldb;database=IdentityServer4.EntityFramework;trusted_connection=yes" providerName="System.Data.EntityClient" />
    <!-- <add name="Seed" connectionString="Data Source=.;Initial Catalog=Sample.Seed;user id=sample;password=XXXXXX;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;MultipleActiveResultSets=True" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>

    <add key="outputClassDomainSeed" value="C:\Projetos\Outros\Seed\Seed.Domain" />
    <add key="outputClassInfraSeed" value="C:\Projetos\Outros\Seed\\Seed.Data" />
    <add key="outputClassDtoSeed" value="C:\Projetos\Outros\Seed\Seed.Dto" />
    <add key="outputClassAppSeed" value="C:\Projetos\Outros\Seed\Seed.Application" />
    <add key="outputClassApiSeed" value="C:\Projetos\Outros\Seed\Seed.Api" />
    <add key="outputClassFilterSeed" value="C:\Projetos\Outros\Seed\Seed.Domain.Filter" />
    <add key="outputClassSummarySeed" value="C:\Projetos\Outros\Seed\Seed.Domain.Summary" />
    <add key="OutputAngular" value="C:\Projetos\Outros\Seed\Seed.Spa.Ui" />
    <add key="OutputClassSso" value="C:\Projetos\Outros\Seed\Sso.Server.Api" />
    

    <add key="GerarModelPartialExistentes" value="false" />
    <add key="GerarMapperPartialExistentes" value="false" />
    <add key="GerarValidationsPartialExistentes" value="false" />
    <add key="GerarModelCustomExistentes" value="false" />
    <add key="GerarDtoEspecializadosExistentes" value="false" />
    <add key="GerarDtoEspecializadosDeResultadoExistentes" value="false" />
    <add key="GerarDtoEspecializadosDeRelatorioExistentes" value="false" />
    <add key="GerarDtoEspecializadosDeDetalhesExistentes" value="false" />
    <add key="GerarFiltersPartialExistentes" value="false" />
    <add key="GerarAppPartialExistentes" value="false" />
    <add key="GerarApiExistentes" value="true" />
    <add key="GerarMoqClassPartialExistentes" value="false" />
    <add key="GerarContainerClassPartialExistentes" value="false" />
    <add key="GerarPreCompilacaoDoContexto" value="false" />
    <add key="GerarFrontControllerCustom" value="true" />
    

  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
